<div class="list-item ability" data-id="{{id}}">

    <div class="data">
        <label class="clickable flex-2 left collapsible" data-collapse-id="{{id}}">{{name}}</label>

        {{#if data.attack.value}}
            <label class="flex-1 clickable roll ability-attack">{{data.attack.value}}%</label>
        {{else}}
            <label class="flex-1">—</label>
        {{/if}}

        {{#if (gt data.lethality.value 0)}}
            <label class="flex-1 clickable roll ability-damage">{{data.lethality.value}}%</label>
        {{else}}
            {{#if data.damage.value}}
                <label class="flex-1 clickable roll ability-damage">{{data.damage.value}}</label>
            {{else}}
                <label class="flex-1">—</label>
            {{/if}}
        {{/if}}

        {{#if buttons}}
            <div class="list-buttons">
                <label class="clickable edit-item"><i class="fas fa-edit"></i></label>
                <label class="clickable delete-item"><i class="far fa-trash-alt"></i></label>
            </div>
        {{/if}}
    </div>

    {{#if data.description.value}}
        <div class="description collapse-target" {{#if (lookup @root.collapsibles id)}}{{else}}style='display: none'{{/if}}>
            <div class="content">
                {{{enrichHTML data.description.value}}}
            </div>
        </div>
    {{/if}}

</div>
