<section class="attributes">
    <header class="section-header">
        <label class="header-label flex-2">Derived Attributes</label>
        <div class="maximum-value flex-1">
            <label class="header-label">Maximum</label>
        </div>
        <div class="current-value flex-1">
            <label class="header-label">Current</label>
        </div>
    </header>

    <div class="attribute">
        <label for="data.health.value">Hit Points</label>
        <div class="maximum-value flex-1">
            <input type="number" name="data.health.maximum" value="{{@root.data.data.health.maximum}}" disabled>
        </div>
        <div class="current-value flex-1">
            <input type="number" name="data.health.value" value="{{@root.data.data.health.value}}">
        </div>
    </div>

    <div class="attribute">
        <label class="clickable" for="data.willpower.value">Willpower</label>
        <div class="maximum-value flex-1">
            <input type="number" name="data.willpower.maximum" value="{{@root.data.data.willpower.maximum}}" disabled>
        </div>
        <div class="current-value flex-1">
            <input type="number" name="data.willpower.value" value="{{@root.data.data.willpower.value}}">
        </div>
    </div>

    <div class="attribute">
        <label class="clickable" for="data.sanity.value">Sanity</label>
        <div class="maximum-value flex-1">
            <input type="number" name="data.sanity.maximum" value="{{@root.data.data.sanity.maximum}}" disabled>
        </div>
        <div class="current-value flex-1">
            <input type="number" name="data.sanity.value" value="{{@root.data.data.sanity.value}}">
        </div>
    </div>

    <div class="attribute">
        <label class="breaking-point" for="data.sanity.breakingPoint.value">Breaking Point</label>
        <div class="maximum-value flex-1">
            <input type="text" value="N/A" disabled>
        </div>
        <div class="current-value flex-1 breaking-point">
            <input type="number" name="data.sanity.breakingPoint.value" value="{{@root.data.data.sanity.breakingPoint.value}}">
            <label class="clickable reset"><i class="fas fa-redo-alt"></i></label>
        </div>
    </div>
</section>