<header class="center-header">
    <label class="flex-1">Weapon</label>
</header>
<div class="inventory-group weapon">
    <header class="flex-header">
        <label class="flex-2">Name</label>
        <label class="flex-1">Skill</label>
        <label class="flex-1">Damage</label>
        <label class="flex-1">AP</label>
        <label class="flex-1">Ammo</label>
        <label class="flex-1">Range</label>
        <div class="header-buttons">
            <label class="clickable add"><i class="fas fa-plus"></i></label>
        </div>
    </header>

    <div class="inventory-list weapon">

        {{#each @root.inventory.weapons as |weapon|}}
            <div class="inventory-item weapon" data-id="{{weapon.id}}">

                <div class="data collapsible" data-collapse-id="{{weapon.id}}">
                    <label class="flex-2 clickable collapse">{{weapon.name}}</label>

                    {{#if weapon.data.data.skill.label}}
                        <label class="flex-1 clickable attack">{{localize weapon.data.data.skill.label}}</label>
                    {{else}}
                        <label class="flex-1">—</label>
                    {{/if}}

                    {{#if (gt weapon.data.data.lethality.value 0)}}
                        <label class="clickable lethality flex-1">{{weapon.data.data.lethality.value}}%</label>
                    {{else}}
                        <label class="clickable damage flex-1">{{weapon.data.data.damage.value}}</label>
                    {{/if}}

                    <label class="flex-1">{{weapon.data.data.armorPiercing.value}}</label>

                    <div class="ammo flex-1">
                        {{#if (gt weapon.data.data.ammo.maximum 0)}}
                            <label>{{weapon.data.data.ammo.value}}/{{weapon.data.data.ammo.maximum}}</label>
                            <label class="clickable decrement-ammo"><i class="fas fa-minus"></i></label>
                            <label class="clickable reload"><i class="fas fa-redo-alt"></i></label>
                        {{else}}
                            <label>—</label>
                        {{/if}}
                    </div>

                    <label class="flex-1">{{weapon.data.data.range.value}}m</label>

                    <div class="item-buttons">
                        <label class="clickable edit"><i class="fas fa-edit"></i></label>
                        <label class="clickable delete"><i class="far fa-trash-alt"></i></label>
                    </div>
                </div>

                <div class="description collapse-target" {{#if (lookup @root.collapsibles weapon.id)}}{{else}}style='display: none'{{/if}}>
                    <div class="content">
                        {{enrichHTML weapon.data.data.description.value}}
                    </div>
                </div>

            </div>
        {{/each}}

    </div>
</div>

<header class="center-header">
    <label>Armor</label>
</header>
<div class="inventory-group armor">
    <header class="flex-header">
        <label class="flex-2">Name</label>
        <label class="flex-1">Rating</label>
        <label class="flex-1">Equipped</label>
        <div class="header-buttons">
            <label class="clickable add"><i class="fas fa-plus"></i></label>
        </div>
    </header>

    <div class="inventory-list armor">

        {{#each @root.inventory.armor as |armor|}}
            <div class="inventory-item armor" data-id="{{armor.id}}">

                <div class="data collapsible" data-collapse-id="{{armor.id}}">
                    <label class="clickable flex-2">{{armor.name}}</label>

                    <label class="flex-1">{{armor.data.data.armorRating.value}}</label>

                    <input type="checkbox" class="flex-1" {{checked armor.data.data.equipped.value}}>

                    <div class="item-buttons">
                        <label class="clickable edit"><i class="fas fa-edit"></i></label>
                        <label class="clickable delete"><i class="far fa-trash-alt"></i></label>
                    </div>
                </div>

                <div class="description collapse-target" {{#if (lookup @root.collapsibles armor.id)}}{{else}}style='display: none'{{/if}}>
                    <div class="content">
                        {{enrichHTML armor.data.data.description.value}}
                    </div>
                </div>

            </div>
        {{/each}}
    </div>
</div>

<header class="center-header">
    <label>Gear</label>
</header>
<div class="inventory-group gear">
    <header class="flex-header">
        <label class="flex-2">Name</label>
        <div class="header-buttons">
            <label class="clickable add"><i class="fas fa-plus"></i></label>
        </div>
    </header>

    <div class="inventory-list gear">

        {{#each @root.inventory.gear as |gear|}}
            <div class="inventory-item armor" data-id="{{gear.id}}">

                <div class="data collapsible" data-collapse-id="{{gear.id}}">
                    <label class="clickable flex-2">{{gear.name}}</label>

                    <div class="item-buttons">
                        <label class="clickable edit"><i class="fas fa-edit"></i></label>
                        <label class="clickable delete"><i class="far fa-trash-alt"></i></label>
                    </div>
                </div>

                <div class="description collapse-target" {{#if (lookup @root.collapsibles gear.id)}}{{else}}style='display: none'{{/if}}>
                    <div class="content">
                        {{enrichHTML gear.data.data.description.value}}
                    </div>
                </div>

            </div>
        {{/each}}

    </div>
</div>
