<div class="incidents">
    <header class="flex-header">
        <label>{{localize "DG.PSYCHOLOGY.adaptations"}}</label>
    </header>
    <div class="adaptations">
        <div class="adaptation">
            <label {{#if @root.data.data.sanity.adaptations.violence.adapted}}class="crossed"{{/if}}>{{localize "DG.PSYCHOLOGY.violence"}}</label>
            {{#each @root.data.data.sanity.adaptations.violence.value as |value index|}}
                <input type="checkbox" data-type="violence" data-index="{{index}}" {{checked value}}>
            {{/each}}
        </div>
        <div class="adaptation">
            <label {{#if @root.data.data.sanity.adaptations.helplessness.adapted}}class="crossed"{{/if}}>{{localize "DG.PSYCHOLOGY.helplessness"}}</label>
            {{#each @root.data.data.sanity.adaptations.helplessness.value as |value index|}}
                <input type="checkbox" data-type="helplessness" data-index="{{index}}" {{checked value}}>
            {{/each}}
        </div>
    </div>
</div>

<div class="bonds">
    <header class="flex-header">
        <label class="flex-2">{{localize "DG.PSYCHOLOGY.bonds"}}</label>
        <label class="flex-1">{{localize "DG.PSYCHOLOGY.score"}}</label>
        <div class="header-buttons">
            <label class="clickable add-item" data-type="bond"><i class="fas fa-plus"></i></label>
        </div>
    </header>

    <div class="item-list bond">

        {{#each @root.bonds as |item|}}
            {{> list-item-bond id=item.id name=item.name data=item.data.data}}
        {{/each}}

    </div>

</div>

<div class="motivations">
    <header class="flex-header">
        <label>{{localize "DG.PSYCHOLOGY.motivations"}}</label>
        <div class="header-buttons">
            <label class="clickable add-item" data-type="motivation"><i class="fas fa-plus"></i></label>
        </div>
    </header>

    <div class="item-list motivation">

        {{#each @root.motivations as |item|}}
            {{> list-item-motivation id=item.id name=item.name data=item.data.data}}
        {{/each}}

    </div>

</div>

<div class="disorders">
    <header class="flex-header">
        <label>{{localize "DG.PSYCHOLOGY.disorders"}}</label>
        <div class="header-buttons">
            <label class="clickable add-item" data-type="disorder"><i class="fas fa-plus"></i></label>
        </div>
    </header>

    <div class="item-list disorder">

        {{#each @root.disorders as |item|}}
            {{> list-item-disorder id=item.id name=item.name data=item.data.data}}
        {{/each}}

    </div>

</div>
