<header class="flex-header">
    <label class="header-label flex-2">{{localize "DG.ATTRIBUTES.statistic"}}</label>
    <label class="header-label flex-1">{{localize "DG.ATTRIBUTES.score"}}</label>
    <label class="header-label flex-1">{{localize "DG.ATTRIBUTES.x5"}}</label>
    <label class="header-label flex-6">{{localize "DG.ATTRIBUTES.distinguishingFeature"}}</label>
</header>

{{#each @root.data.data.statistics as |statistic|}}
    <div class="stats-field" data-id="{{statistic.id}}">
        <label class="clickable stats flex-2">{{statistic.label}}</label>
        <input class="flex-1" type="number" name="data.statistics.{{statistic.id}}.value" value="{{statistic.value}}">
        <input class="flex-1" type="number" value="{{statistic.percentile}}" disabled>
        <input class="flex-6" type="text" name="data.statistics.{{statistic.id}}.feature" value="{{statistic.feature}}">
    </div>
{{/each}}
