<form class="{{cssClass}}" autocomplete="off">

    <section class="sheet-header">

        {{> systems/delta-green/templates/actor/tabs/Biography.html }}

        {{> systems/delta-green/templates/actor/tabs/Attributes.html }}

    </section>

    <section class="sheet-navigation">

    </section>

    <section class="sheet-body">

        {{> systems/delta-green/templates/actor/tabs/Statistics.html }}

        {{> systems/delta-green/templates/actor/tabs/Skills.html }}

    </section>

</form>
