<form class="{{cssClass}}" autocomplete="off">

    <section class="sheet-header">

        {{> systems/delta-green/templates/actor/tabs/Biography.html }}

    </section>

    <nav class="sheet-navigation" data-group="primary">
        <a class="item" data-tab="tab-statistics" title="Statistics">Statistics</a>
        <a class="item" data-tab="tab-skills" title="Skills">Skills</a>
        <a class="item" data-tab="tab-psychological" title="Psychological">Psychological</a>
        <a class="item active" data-tab="tab-inventory" title="Inventory">Inventory</a>
    </nav>

    <section class="sheet-body">

        <div class="tab tab-statistics" data-group="primary" data-tab="tab-statistics">
            {{> systems/delta-green/templates/actor/tabs/Attributes.html }}
            {{> systems/delta-green/templates/actor/tabs/Statistics.html }}
        </div>

        <div class="tab tab-skills" data-group="primary" data-tab="tab-skills">
            {{> systems/delta-green/templates/actor/tabs/SkillsList.html }}
        </div>

        <div class="tab tab-inventory active" data-group="primary" data-tab="tab-inventory">
            {{> systems/delta-green/templates/actor/tabs/Inventory.html }}
        </div>

        <div class="tab tab-psychological" data-group="primary" data-tab="tab-psychological">
            {{> systems/delta-green/templates/actor/tabs/Psychological.html }}
        </div>

    </section>

</form>
