<form class="{{cssClass}}">

    <section class="common">

        <div class="labeled-field">
            <label for="name">Disorder Name</label>
            <input type="text" name="name" value="{{@root.item.name}}">
        </div>

    </section>

    <nav class="sheet-navigation" data-group="primary">
        <a class="item" data-tab="tab-description" title="Disorder Description">Disorder Description</a>
        <a class="item active" data-tab="tab-data" title="Disorder Data">Disorder Data</a>
    </nav>

    <section class="sheet-body">

        <div class="tab tab-data" data-group="primary" data-tab="tab-data">

            <div class="labeled-field">
                <label for="data.crossed.value">Disorder Cured</label>
                <input type="checkbox" name="data.crossed.value" {{checked @root.data.data.crossed.value}}>
            </div>

        </div>

        <div class="tab tab-description" data-group="primary" data-tab="tab-description">
            {{editor content=data.data.description.value
                     target="data.description.value"
                     button=true
                     owner=owner
                     editable=editable}}
        </div>

    </section>

</form>
