<form class="{{cssClass}}">

    <section class="common">

        <div class="labeled-field">
            <label>{{localized "DG.ITEM.name"}}</label>
            <input type="text" name="name" value="{{@root.item.name}}">
        </div>

    </section>

    <nav class="sheet-navigation" data-group="primary">
        <a class="item" data-tab="tab-description" title="{{localize "DG.ITEM.description"}}">{{localize "DG.ITEM.description"}}</a>
        <a class="item active" data-tab="tab-data" title="{{localize "DG.ITEM.data"}}">{{localize "DG.ITEM.data"}}</a>
    </nav>

    <section class="sheet-body">

        <div class="tab tab-data" data-group="primary" data-tab="tab-data">

            <div class="labeled-field">
                <label>{{localize "DG.ITEM.disorderCured"}}</label>
                <input type="checkbox" name="data.crossed.value" {{checked @root.data.data.crossed.value}}>
            </div>

        </div>

        <div class="tab tab-description" data-group="primary" data-tab="tab-description">
            {{editor content=data.data.description.value
                     target="data.description.value"
                     button=true
                     owner=owner
                     editable=editable}}
        </div>

    </section>

</form>
