<form class="{{cssClass}}">

    <section class="common">

        <div class="field-group row">

            <div class="avatar">
                <img class="avatar" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            </div>

            <div class="field-group col">

                <div class="labeled-field">
                    <label for="name">Gear Name</label>
                    <input type="text" name="name" value="{{@root.item.name}}">
                </div>

                <div class="field-group row">
                    <label for="data.expense.value">Expense</label>
                    <select name="data.expense.value">
                        {{#select data.data.expense.value}}
                            {{#each constants.expense as |option|}}
                                <option value="{{option.value}}">{{option.label}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>

                <div class="field-group row">
                    <label for="data.equipped.value">Equipped</label>
                    <input type="checkbox" name="data.equipped.value" id="data.equipped.value" value="{{data.data.equipped.value}}" {{checked data.data.equipped.value}}>
                </div>

                <div class="field-group row">
                    <label for="data.carried.value">Carried</label>
                    <input type="checkbox" name="data.carried.value" id="data.carried.value" value="{{data.data.carried.value}}" {{checked data.data.carried.value}}>
                </div>

            </div>

        </div>

    </section>

    <nav class="sheet-navigation" data-group="primary">
        <a class="item" data-tab="tab-description" title="Item Description">Item Description</a>
        <a class="item active" data-tab="tab-data" title="Item Data">Item Data</a>
    </nav>

    <section class="sheet-body">

        <div class="tab tab-data" data-group="primary" data-tab="tab-data">
            {{#with @root.subtemplate as |template|}}
                {{> (template) data=data}}
            {{/with}}
        </div>

        <div class="tab tab-description" data-group="primary" data-tab="tab-description">
            {{editor content=data.data.description.value
                     target="data.description.value"
                     button=true
                     owner=owner
                     editable=editable}}
        </div>

    </section>

</form>
