<div class="list-item motivation" data-id="{{id}}">

    <div class="data">
        <label class="clickable flex-2 left{{#if data.crossed.value}} crossed{{/if}} collapsible" data-collapse-id="{{id}}">{{name}}</label>

        {{#if buttons}}
            <div class="list-buttons">
                <label class="clickable cross-item"><i class="fas fa-times-circle"></i></label>
                <label class="clickable edit-item"><i class="fas fa-edit"></i></label>
                <label class="clickable delete-item"><i class="far fa-trash-alt"></i></label>
            </div>
        {{/if}}
    </div>

    <div class="description collapse-target" {{#if (lookup @root.collapsibles id)}}{{else}}style='display: none'{{/if}}>
        <div class="content">
            {{{enrichHTML data.description.value}}}
        </div>
    </div>

</div>
