<div class="delta-green">
    {{#if actor}}
        <div class="roll-header">
            <div class="avatar">
                <img src="{{actor.img}}">
            </div>
            <div class="name">
                {{actor.name}}
            </div>
        </div>
    {{/if}}
    {{#if target}}
        <div class="roll-parts">
            <header class="parts-header">
                <div class="label">{{target.base.label}}</div>
                <div class="label">{{target.total}}%</div>
            </header>
            <div class="parts-list" style="display: none;">
                {{#each target.modifiers as |part|}}
                    <div class="part">
                        <div class="label">{{part.label}}</div>
                        <div class="label">{{part.value}}%</div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
    <div class="roll-body">
        <div class="dice-rolls {{success.type}}">
            {{#each results.dice as |die|}}
                <div class="roll die d{{die.size}}">{{die.value}}</div>
            {{/each}}
        </div>
        <div class="total">{{results.value}}</div>
    </div>
    {{#if success}}
        <div class="roll-result {{success.type}}">
            {{success.label}}
        </div>
    {{/if}}
    {{#if label}}
        <div class="roll-result">
            {{label}}
        </div>
    {{/if}}
</div>
