<div class="delta-green percentile">

    {{#if roll.data.label}}
        <div class="header">{{localize roll.data.label}}</div>
    {{/if}}

    {{#if actor}}
        <div class="actor">
            <div class="avatar">
                <img src="{{actor.img}}" title="{{actor.name}}">
            </div>
            <div class="name">
                {{actor.name}}
            </div>
        </div>
    {{/if}}

    {{#if roll.target}}
        <div class="parts">
            <div class="base">
                <div class="label">{{localize roll.data.target.base.label}}</div>
                <div class="label">{{roll.target}}%</div>
            </div>
            <div class="list" style="display: none;">
                <div class="part">
                    <div class="label">{{localize roll.data.target.base.label}}</div>
                    <div class="label">{{roll.data.target.base.value}}%</div>
                </div>
                {{#each roll.data.target.parts as |part|}}
                    <div class="part">
                        <div class="label">{{localize part.label}}</div>
                        <div class="label">{{part.value}}%</div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}

    <div class="dice">
        <div class="list">
            <div class="roll die d10">{{roll.tens}}</div>
            <div class="roll die d10">{{roll.ones}}</div>
        </div>
        <div class="total">{{roll.total}}</div>
    </div>

    {{#if roll.successType}}
        <div class="result {{roll.successType}}">
            {{localize roll.successTypeLabel}}
        </div>
    {{/if}}
</div>
