<div class="skill-field" data-skill-type="{{skill.type}}" data-skill-id="{{skill.id}}">
    <label class="clickable delete">
        {{#if skill.delete}}
            <i class="far fa-trash-alt"></i>
        {{/if}}
    </label>
    <input type="checkbox" name="data.skills.{{skill.type}}.{{skill.id}}.failure" {{checked skill.failure}}>
    <label class="clickable skill-roll">{{skill.label}}</label>
    <input type="number" min="0" max="99" name="data.skills.{{skill.type}}.{{skill.id}}.value" value="{{skill.value}}">
</div>
