<form class="{{cssClass}}" autocomplete="off">

    <section class="biography">

        <div class="title">
            {{#if editMode}}
                <input type="text" name="name" value="{{@root.actor.name}}">
                <label class="clickable unnatural{{#if @root.unnatural}} active{{/if}}"><i class="fas fa-pastafarianism"></i></label>
            {{else}}
                <label class="name">{{actor.name}}</label>
            {{/if}}

            <label class="clickable edit-mode"><i class="fas fa-edit"></i></label>
        </div>

        <div class="subtitle">
            {{#if editMode}}
                <input type="text" name="data.biography.notes.value" value="{{@root.actor.data.data.biography.notes.value}}">
            {{else}}
                <label>{{@root.actor.data.data.biography.notes.value}}</label>
            {{/if}}
        </div>

    </section>

    <section class="sheet-body">

        {{> systems/delta-green/templates/actor/npc/tabs/Statistics.html }}
        {{> systems/delta-green/templates/actor/npc/tabs/Attributes.html }}
        {{> systems/delta-green/templates/actor/npc/tabs/SkillsList.html }}
        {{#if @root.unnatural}}
        {{else}}
            {{> systems/delta-green/templates/actor/npc/tabs/Psychological.html }}
        {{/if}}

    </section>

</form>
