<form class="{{cssClass}}" autocomplete="off">

    <section class="biography">

        {{#if editMode}}
            <input type="text" name="name" value="{{@root.actor.name}}">
            <label class="clickable unnatural{{#if @root.unnatural}} active{{/if}}"><i class="fas fa-pastafarianism"></i></label>
        {{else}}
            <label>{{actor.name}}</label>
        {{/if}}

        <label class="clickable edit-mode"><i class="fas fa-edit"></i></label>

    </section>

    <section class="sheet-body">

        {{> systems/delta-green/templates/actor/npc/tabs/Statistics.html }}
        {{> systems/delta-green/templates/actor/npc/tabs/Attributes.html }}
        {{> systems/delta-green/templates/actor/npc/tabs/SkillsList.html }}
        {{#if @root.unnatural}}
        {{else}}
            {{> systems/delta-green/templates/actor/npc/tabs/Psychological.html }}
        {{/if}}

    </section>

</form>
