<div class="list-item skill" data-id="{{id}}">

    <div class="data">
        <label class="clickable flex-2 left collapsible name" data-collapse-id="{{id}}">{{name}} {{data.rating.value}}%</label>

        {{#if buttons}}
            <div class="list-buttons">
                <label class="clickable edit-item"><i class="fas fa-edit"></i></label>
                {{#if data.canDelete.value}}
                    <label class="clickable delete-item"><i class="far fa-trash-alt"></i></label>
                {{/if}}
            </div>
        {{/if}}
    </div>

</div>
