<div>
    {{#if (eq actors.length 0)}}
        <p>No users with active actors.</p>
    {{else}}
        {{#each actors as |actor|}}
            <div class="actor-row" data-id="{{actor.id}}">
                <label>{{actor.name}}</label>
                <label class="clickable increase"><i class="fas fa-plus"></i></label>
                <label>{{lookup ../corruption actor.id}}</label>
                <label class="clickable decrease"><i class="fas fa-minus"></i></label>
            </div>
        {{/each}}
    {{/if}}
</div>