<div>
    {{#if (eq actors.length 0)}}
        <p>{{localize "DG.APP.CORRUPTION.noUsers"}}</p>
    {{else}}
        {{#each actors as |entry|}}
            <div class="actor-row" data-id="{{entry.actor.id}}">
                <label class="user">{{entry.user.name}}</label>
                <label class="actor">{{entry.actor.name}}</label>
                <label class="clickable increase"><i class="fas fa-plus"></i></label>
                <label class="value">{{entry.corruption}}</label>
                <label class="clickable decrease"><i class="fas fa-minus"></i></label>
            </div>
        {{/each}}
    {{/if}}
</div>