<div class="list-item armor" data-id="{{id}}">

    <div class="data">
        <label class="flex-2 left clickable collapsible" data-collapse-id="{{id}}">{{name}}</label>

        <label class="flex-1">{{data.armorRating.value}}</label>

        <input type="checkbox" class="equipped flex-1 modify-item" data-path="data.equipped.value" {{checked data.equipped.value}}>

        {{#if buttons}}
            <div class="list-buttons">
                <label class="clickable edit-item"><i class="fas fa-edit"></i></label>
                <label class="clickable delete-item"><i class="far fa-trash-alt"></i></label>
            </div>
        {{/if}}
    </div>

    {{#if data.description.value}}
        <div class="description collapse-target" {{#if (lookup @root.collapsibles id)}}{{else}}style='display: none'{{/if}}>
            <div class="content">
                {{{enrichHTML data.description.value}}}
            </div>
        </div>
    {{/if}}

</div>
