<form class="{{cssClass}}">

    {{> systems/delta-green/static/templates/item/partial/PhysicalItemCommon.html }}

    <nav class="sheet-navigation" data-group="primary">
        <a class="item" data-tab="tab-description" title="{{localize "DG.ITEM.description"}}">{{localize "DG.ITEM.description"}}</a>
        <a class="item active" data-tab="tab-data" title="{{localize "DG.ITEM.data"}}">{{localize "DG.ITEM.data"}}</a>
    </nav>

    <section class="sheet-body">

        <div class="tab tab-data" data-group="primary" data-tab="tab-data">

            <div class="field-group row">
                <label>{{localize "DG.ITEM.armor"}}</label>
                <input type="number" min="0" name="data.armorRating.value" value="{{@root.data.data.armorRating.value}}">
            </div>

        </div>

        <div class="tab tab-description" data-group="primary" data-tab="tab-description">
            {{editor content=data.data.description.value
                     target="data.description.value"
                     button=true
                     owner=owner
                     editable=editable}}
        </div>

    </section>

</form>
